.table1{
    background-color: silver;
    margin-top: 4rem;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
td{
    text-align: center;
}
tr {
    background-color: #eee;
}
#parent{
    display: flex;
}
#child1{
    margin-right: 3rem;
}

/*#draggable, #draggable2 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }*/
.droppable {float: left;}

.empl1,#empl1 {
    float: left;
    margin: 10px 10px 10px;
    background-color: red;
    cursor: pointer;
}
.empl2,#empl2 {
    float: left;
    margin: 10px 10px 10px;
    background-color: #6bcd6b;
    cursor: pointer;
}
.empl3,#empl3 {
    float: left;
    margin: 10px 10px 10px;
    cursor: pointer;
    background-color: #008cd9;
}
.empl4,#empl4 {
    float: left;
    margin: 10px 10px 10px;
    cursor: pointer;
    background-color: #7e173b;
}
.empl5,#empl5 {
    float: left;
    margin: 10px 10px 10px;
    cursor: pointer;
    background-color: #63747c;
}
.empl6,#empl6 {
    float: left;
    margin: 10px 10px 10px;
    cursor: pointer;
    background-color: #cbef07;
}
.droppable {
    width: 150px;
    height: 20px;
    float: left;
    margin: 10px;
}
